@import 'variables';


.swiper {
	display: flex;

	.swiper-image {
		max-width: 100%;
		display: grid;
	}

	.swiper-swiperData {
		background-color: $black-01;
		padding: 15px 20px;

		.swiper-list {
			font-size: 13px;
			line-height: 1.6;
			font-weight: 400;
			letter-spacing: -.02em;
			color: $white-01;
			display: flex;
			text-transform: uppercase;

			li {
				padding: 0 17px;

				&:last-of-type::before {
					position: relative;
					content: '';
					left: -15px;
					height: 100%;
					border-left: 1px solid $grey-04;
				}
			}
		}

		.swiper-title {
			color: $yellow-01;
			margin-top: 10px;
			font-size: 24px;
		}

		.swiper-text {
			margin-top: 10px;
			color: $grey-02;
			font-size: 13px;
		}
	}
}