<section class="team">
  <div class="team-container">
    <h3 class="team-title">our team</h3>
    <h6 class="team-subtitle">people begind our success</h6>

    <article class="team-article">
      <div class="team-figure">
        <img *ngIf="screen === 'desktop'" class="team-figure" src="../../../assets/images/ana.webp">
        <img *ngIf="screen === 'mobile' || screen === 'tablet'" class="team-figure" src="../../../assets/images/ana.jpg">
      </div>

      <div class="team-body">
        <h5>Ana Paulo Bortolli</h5>
      </div>

      <div class="team-footer">
        <div class="team-status">Lead Interior Designer</div>

        <div class="team-name">
          <span>Ana Paula</span>
        </div>
      </div>
    </article>
  </div>
</section>
