<section class="team">
  <div class="team-container">
    <h3 class="team-title">our team</h3>
    <h6 class="team-subtitle">people begind our success</h6>

    <article class="team-article">
      <div class="team-left">
        <div class="team-figure">
          <img *ngIf="screen === 'desktop'" class="team-figure" src="../../../assets/images/ana.webp">
          <img *ngIf="screen === 'mobile' || screen === 'tablet'" class="team-figure" src="../../../assets/images/ana.jpg">
        </div>
  
        <div class="team-body">
          <h5>Ana Paulo Bortolli</h5>
        </div>
  
        <div class="team-footer">
          <div class="team-status">Lead Interior Designer</div>
  
          <div class="team-name">
            <span>Ana Paula</span>
          </div>
        </div>
      </div>

      <div class="team-right">
        <p>
          Lorem ipsum aliquet taciti aenean turpis enim elit at conubia, auctor vel interdum proin nibh vel torquent condimentum, luctus euismod ad metus ut mi taciti ipsum. nunc sagittis consequat curabitur orci consectetur fermentum suscipit, litora nec integer nulla et curabitur vulputate, neque libero nullam amet vulputate malesuada. scelerisque nisl orci ultricies cras, nostra venenatis per. vel elementum fringilla lacinia nibh quisque ipsum blandit aptent nam, vestibulum tempus gravida commodo etiam duis feugiat. vehicula torquent neque urna per quisque tellus mi habitasse, nullam aenean nisl eu ultrices habitant convallis justo, duis vel integer conubia dui ultricies praesent. 
        </p>
      </div>
    </article>
  </div>
</section>
