<section class="cards">
  <div class="cards-blocks">
    <app-card-icon
      icon='far fa-building'
      text='We provide high-quality architecture services.'
      title='Architecture'
    ></app-card-icon>
  </div>

  <div class="cards-blocks">
    <app-card-icon
      icon='fas fa-pen-nib'
      text='We provide high-quality architecture services.'
      title='Architecture'
    ></app-card-icon>
  </div>

  <div class="cards-blocks">
    <app-card-icon
      icon='far fa-lightbulb'
      text='We provide high-quality architecture services.'
      title='Architecture'
    ></app-card-icon>
  </div>

  <div class="cards-panel">
    <app-leed-panel
      message='WE WILL CONTACT YOU WITHIN 24 HOURS'
      name='cards'
      title='FIND OUT THE PRICE OF YOUR HOME'
    ></app-leed-panel>
  </div>
</section>