// Black
$black-01: #282828;
$black-02: #232323;
$black-03: #242424;
$black-04: #000;

// Grey
$grey-01: rgba(255, 255, 255, 0.4);

// White
$white-01: #FFF;

// yellow
$yellow-01: #c4956a;

// Shadow
$shadow-01: rgba(0, 0, 0, 0.7);
$shadow-02: rgba(0, 0, 0, 0.1);