@import 'variables';

.introduction {

  @media #{$tablet, $desktop} {
    display: flex;

    app-swiper { width: 60%; }
  }

  .introduction-contant {
    background-color: $black-03;

    @media #{$tablet, $desktop} { width: 40%; }

    .introduction-container {
      padding: 30px 15px;

      // TODO: Linha de fundo
      .introduction-article {
        text-transform: uppercase;
        text-align: center;
        font-weight: 700;
    
        .introduction-title {
          font-size: 30px;
          line-height: 1.16667;
          text-transform: uppercase;
          letter-spacing: -.02em;
          white-space: nowrap;
          color: $white-01;

          @media #{$tablet, $desktop} { font-size: 35px; }
        }

        .introduction-subtitle {
          color: $yellow-01;
          margin-top: 20px;
          font-size: 15px;
        }

        .introduction-contact {
          margin-top: 20px;

          .introduction-button {
            padding: 10px 30px;
            font-size: 12px;
            line-height: 1.5;
            border: 1px solid $yellow-01;
            font-weight: 700;
            letter-spacing: -.02em;
            cursor: pointer;
            transition: 250ms all ease-in-out;
            color: $white-01;
          }
        }
      }
    }

    .introduction-contro-panel {
      padding: 10px 15px;
      width: 100%;
      height: 48px;
    }
  }
}

.introduction-swiper {
  display: flex;
  margin: auto;
  width: fit-content;

  .introduction-swiper-left, .introduction-swiper-right {
    border: 2px solid $grey-01;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    font-size: 22px;
    line-height: 44px;
    color: $white-01;
    will-change: transform;
    transition: all .2s ease-in-out;
    cursor: pointer;
    z-index: 10;
    text-align: center;

    &:hover { color: $grey-01; }
  }

  .introduction-swiper-right { margin-left: 7px; }
}

.introduction-arrow {
  height: 100px;

  .introduction-contro-panel {
    width: 40%;
    background-color: $black-07;
    height: 100%;
  }
}