<!-- TODO: Falta listas de fundo -->
<section class="introduction">
  <div class="introduction-contant">
    <div class="introduction-container">
      <article class="introduction-article">
        <div class="introduction-title">
          arquiterura
          <br>& interiores
        </div>
        <h6 class="introduction-subtitle">
          fazer de um traço
          <br>a projeção dos
          <br>seus sonhos
        </h6>

        <div class="introduction-contact">
          <!-- TODO: falta animacao do botao -->
          <a class="introduction-button">
            fale conosco
          </a>
        </div>
      </article>
    </div>

    <div class="introduction-contro-panel">
      <div class="introduction-swiper">
        <!-- TODO: Alinhar arrows -->
        <div class="introduction-swiper-left" (click)="backImg()">
          <i class="fas fa-arrow-left"></i>
        </div>
        <div class="introduction-swiper-right" (click)="nextImg()">
          <i class="fas fa-arrow-right"></i>
        </div>
      </div>
    </div>
  </div>
  <app-swiper
    [swiper]="swiper"
  ></app-swiper>
</section>
