<section class="awards">
  <div class="awards-container">
    <div class="awards-header">
      <h3 class="title">Award-winning architecture company</h3>
      <h6 class="subtitle">We deliver the best solutions</h6>

      <article class="awards-article">
        <div class="awards-figure">
          <img *ngIf="screen === 'desktop'" src="../../../assets/images/img_01.webp">
          <img *ngIf="screen === 'mobile' || screen === 'tablet'" src="../../../assets/images/img_01.jpg">
        </div>
      </article>
    </div>

    <div class="awards-body">
      <div class="awards-resume">
        <app-cards-resume
          [number]="7"
          text='We have been working in the industry since 2011.'
          title='years'
        ></app-cards-resume>
      </div>

      <div class="awards-resume">
        <app-cards-resume
          [number]="54"
          text='To this day, we have designed 54 residential projects.'
          title='projects'
        ></app-cards-resume>
      </div>

      <div class="awards-resume last-resume">
        <app-cards-resume
          [number]="11"
          text='Spectrum has been awarded for creativity many times.'
          title='awards'
        ></app-cards-resume>
      </div>

      <div class="awards-footer" *ngIf="screen === 'mobile' || screen === 'tablet'">
        <a class="awards-button">contact us</a>
      </div>
    </div>

    <div class="awards-footer" *ngIf="screen === 'desktop'">
      <a class="awards-button">contact us</a>
    </div>
  </div>
</section>
