@import 'variables';

.awards {
  padding: 50px 0;

  .awards-container {
		padding: 0 15px;
	
		@media (min-width: $tablet) { display: flex; }

		.awards-header {
			@media (min-width: $tablet) { width: 50%; }

			.title {
				font-size: 24px;

				@media (min-width: $tablet) { font-size: 26px; }
			}

			.subtitle { font-size: 15px; }

			.awards-article {
				margin-top: 30px;
				
				.awards-figure img {
					max-width: 100%;
					border-radius: 7px;
				}
			}
		}
		
		.awards-body {
			padding: 0 15px;
			margin-bottom: 50px;
			display: inline-block;

			@media (min-width: $tablet) { width: 50%; }

			.awards-resume {
				width: calc(100% / 2);
				display: inline-block;

				@media (min-width: $tablet) {
					margin: 0 auto;
					display: grid;
				}

				&.last-resume {
					margin: 0 auto;
					display: block;
				}
			}
		}

		.awards-footer {
			margin-bottom: 30px;
			
			.awards-button {
				color: $white-01;
				background-color: $yellow-01;
				display: table;
				padding: 10px 30px;
				font-size: 12px;
				line-height: 1.5;
				font-weight: 700;
				letter-spacing: -.02em;
				text-transform: uppercase;
				cursor: pointer;
				margin: 0 auto;
			}
		}
  }
}