@import '../../assets/variables';

.introduction {

  .introduction-contant {
    background-color: $black-03;

    .introduction-container {
      padding: 30px 15px;

      &:before {
        width: 54%;
        border-width: 0 1px;
        transform: translate3d(-50%, 0, 0);
        position: absolute;
        content: '';
        top: 0;
        left: 50%;
        bottom: 0;
        border: 0 solid rgba(255, 255, 255, 0.05);
        pointer-events: none;
        z-index: -1;
      }
      
      &:after {
        border-left-width: 1px;
        position: absolute;
        content: '';
        top: 0;
        left: 50%;
        bottom: 0;
        border: 0 solid rgba(255,255,255,.05);
        pointer-events: none;
        z-index: -1;
      }
  
      .introduction-article {
        text-transform: uppercase;
        text-align: center;
        font-weight: 700;
    
        .introduction-title {
          font-size: 30px;
          line-height: 1.16667;
          text-transform: uppercase;
          letter-spacing: -.02em;
          white-space: nowrap;
          color: $white-01;
        }

        .introduction-subtitle {
          color: $yellow-01;
          margin-top: 20px;
          font-size: 15px;
        }

        .introduction-contact {
          padding: 10px 30px;
          font-size: 12px;
          line-height: 1.5;
          border: 1px solid $yellow-01;
          font-weight: 700;
          letter-spacing: -.02em;
          cursor: pointer;
          transition: 250ms all ease-in-out;
          color: $white-01;
        }
      }
    }

    .introduction-contro-panel {
      padding: 10px 15px;
      width: 100%;
      height: 48px;

      .introduction-swiper {
        display: flex;

        .introduction-swiper-left, .introduction-swiper-right {
          border: 2px solid $grey-01;
          border-radius: 50%;
          width: 48px;
          height: 48px;
          font-size: 22px;
          line-height: 44px;
          color: $white-01;
          will-change: transform;
          transition: all .2s ease-in-out;
          cursor: pointer;
          z-index: 10;

          &:before {
            content: '\f14f';
          }
        }
      }
    }
  }
}