<app-main-header></app-main-header>

<main>
  <app-introduction></app-introduction>
  <app-cards></app-cards>
  <app-steps></app-steps>
  <app-team></app-team>
  <app-awards></app-awards>
  <app-projects></app-projects>
  <app-comments></app-comments>

  <!-- TODO: Needs api and backend -->
  <!-- <div class="leed-component">
    <app-leed-panel
      message='LET’S WORK TOGETHER!'
      title='GET IN TOUCH WITH OUR TEAM'
    ></app-leed-panel>
  </div> -->
</main>

<app-main-footer></app-main-footer>