@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Montserrat+Subrayada');
@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates');

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: montserrat, -apple-system, BlinkMacSystemFont, segoe ui , Roboto, helvetica neue, Arial,sans-serif;
}

h1 {
    margin: 0;
}