@import 'variables';

.main-header {
  background-color: $black-02;
  width: 100%;
  max-width: calc(100vw - 32px);
  height: 48px;
  display: flex;
  padding: 16px;

  img {
    max-width: 20px;
    max-height: 30px;
    margin: auto 0;
  }

  h1 {
    color: $white-01;
		font-size: 30px;
		margin: auto 0 auto 16px; 
  }
}
