@import 'variables';

.main-menu {
	background-color: $white-01;
	position: fixed;
	height: calc(100vh - 80px);
	width: 40vw;
	left: 0;
	top: 80px;
	transition-duration: 1s;
	transform: translateX(-100%);

	&.open { transform: translateX(0%); }

	.menu-list {
		font-size: 15px;
		line-height: 24px;
		font-weight: 400;letter-spacing: -.02em;
		margin: 15px 0;

		.menu-list-item {
			padding: 7px 0 7px 12px;
			margin-top: 4px;

			&:hover {
				background-color: $yellow-01;
				color: $white-01;
			}

			&:first-of-type { margin: 0; }
		}
	}

	.menu-number {
		font-size: 18px;
    line-height: 1.44444;
    font-weight: 500;
		letter-spacing: -.02em;
		color: $black-04;
		padding: 0 12px;
    display: flex;

		i {
			font-size: 22px;
			line-height: 1;
			color: $grey-07;
			margin: auto 0;
			display: block;
		}

		span { margin: auto 0 auto 15px; }
	}
}